{% extends "templates/web.html" %}

{%- block head_include %}
<link rel="stylesheet" href="/assets/css/website-calendar.min.css">
{% endblock -%}

{% block title %}{{ _("Events") }}{% endblock %}
{% block header %}<h2>{{ _("Events") }}</h2>{% endblock %}

{% block page_content %}
<div id="events-calendar" class="portal-calendar"></div>
{% endblock %}

{%- block script -%}
{{ include_script("events-portal.bundle.js") }}
{% endblock %}
